In [11]:
import sqlite3 as sqlite

import pandas as pd

from sqlalchemy import create_engine

In [12]:
engine = create_engine('sqlite:///save_pan.db', echo=True)
sqlite_connection = engine.connect()

In [14]:
connection = create_engine('sqlite:///bike_poi.db')

In [13]:
create_bike_stns_table = """
CREATE TABLE IF NOT EXISTS london_city_bikes_stns (
  network_city TEXT ,
  network_name TEXT,
  station_name TEXT,
  station_id TEXT,
  station_latitude FLOAT,
  station_longitude FLOAT,
  empty_slots INTEGER,
  free_bikes INTEGER,
  total_bikes INTEGER
);
"""

cur.execute(create_bike_stns_table)